<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav-admin.ejs') %>

    <!-- Events Hero Section -->
    <section class="hero events-hero">
        <div class="hero-content">
            <h2>Manage Events</h2>
            <p></p>
        </div>
    </section>

    <!-- Events List Section -->
    <section class="events-container">
        <% if(events.length > 0){ %>
            <% events.forEach(event => { %> 
                <div class="event-card">
                    <div class="event-date">
                        <span class="month"><%= event.month %></span>
                        <span class="day"><%= event.day %></span>
                    </div>
                    <div class="event-details">
                        <h3> <%= event.eventName %> </h3>
                        <!-- <p class="event-time"><%= event.time %></p> -->
                        <a href="/event/<%= event._id %>/edit">
                            <button class="edit-btn" data-id="<%= event._id %>"><i class="fas fa-pen"></i></button>
                        </a>
                        <button class="delete-btn" data-id="<%= event._id %>"><i class="fas fa-trash"> </i></button>
                    </div>
                </div>
            <% }) %>
            <p class="no-events">Click to add...</p>
            <a href="/add-events">
                <img src="/images/add.png" alt="add event" class="add">
                <!-- <i class="fas fa-plus"></i> -->
            </a>
        <% } else { %> 
            <p class="no-events">There are no upcoming events. Click to add...</p>
            <a href="/add-events">
                <img src="/images/add.png" alt="add event" class="add">
                <!-- <i class="fas fa-plus"></i> -->
            </a>
        <% } %>
    </section>

    <%- include('./partials/footer.ejs') %>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const buttons = document.querySelectorAll('.delete-btn');
            buttons.forEach(button => {
                button.addEventListener('click', (event) => {
                    if (!confirm('Are you sure you want to delete this event?')) {
                        return;
                    }
                    const eventId = button.getAttribute('data-id');
                    fetch(`/event/${eventId}`, {
                        method: 'DELETE'
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.redirect) {
                            window.location.href = data.redirect;
                        }
                    })
                    .catch(err => console.error(err));
                });
            });
        });
    </script>

</body>
</html>
